/*util css */
.font-family{
    font-family: "montserrat", sans-serif;
}
.margin-0 {
    margin: 0;
}
.padding-0{
    padding:0;
}
.hero-page{
    display:flex;
}
.back-left-image{
    background-image: url("../images/left.jpg ");
}
.back-right-image{
    background-image: url("../images/right.jpg");
}
    
.back-image{
  /*  height: 100vh;*/
    width:50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-section{
          padding:3rem 7rem;
}
.logo{
    width:40%;
}
.text-color-white{
    color:white;
}
.text-size-16 {
    font-size: 16px;;
}

.font-size-1 {
    font-size: 1.5rem;
}
.font-size-4{
    font-size:4.5rem;
}
.left-text{
    width: 70%;
    padding-left: 2.5rem;
}

    

