/*util css */
.font-family {
  font-family: "montserrat", sans-serif;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.text-color-primary {
  color: #5598f9;
}
.text-color-default {
  color: #111111;
}
.text-color-secondary {
  color: #555c66;
}
.text-color-head {
  color: #bad5fd;
}
.text-color-blue {
  color: #5598f9;
}
.text-center {
  text-align: center;
}
.height {
  line-height: 1.5;
}
.text-color-white {
  color: white;
}
.text-size-16 {
  font-size: 16px;
}

.font-size-1 {
  font-size: 1.5rem;
}
.font-size-normal {
  font-size: 1.25rem;
}
.font-size-2 {
  font-size: 2.5rem;
}
.font-size-3 {
  font-size: 3.2rem;
}
/*end util css*/

.hero-page {
  display: flex;
}

.back-left-image {
  background-image: url("../images/left.jpg ");
}
.back-right-image {
  background-image: url("../images/right.jpg");
}

.back-image {
  /*height: 100vh; */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-section {
  padding: 2rem 7rem;
}
.logo {
  width: 40%;
}

.left-text {
  width: 70%;
  padding: 2rem 0;
}

/*icon page*/
.container {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  margin-left: 6rem;
}

.box-wrapper {
  width: 17%;
  /* height:70vh;*/
  background-color: #eef4fe;
  border-radius: 1rem;
  margin-top: 3rem;
}
.icon-wrapper {
  font-size: 5rem;
  margin-top: 1.6rem;
}
.icon-text {
  font-size: 1.5rem;
}
.text-head {
  font-size: 2.25rem;
  padding-top: 5.5rem;
}

.italic {
  font-size: 1.25rem;
  margin: 1rem 13rem;
}

/* logo section*/
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 7rem 6rem;
  padding: 0 4rem;
}

.logo-wrapper {
  font-size: 5rem;
}
.card {
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-basis: calc(45% - 25px);
  box-sizing: border-box;
}
.bg-color {
  background-color: #eef4fe;
  border-radius: 50%;
}

/*phone-image-section*/

.left-photo-section {
  background-color: #f3f2f2;
  width: 50%;
}

.phone-content {
  font-size: 2.7rem;
  padding: 10rem 6rem;
}

.right-photo-section {
  background-image: url("../images/dec1c37d-590d-43b4-94b3-f76b2493dbc1.jpg");
}
.image-section {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: center;
}
.phone-image-section {
  display: flex;
}
.para-content-1 {
  margin: 2rem 11rem;
}
/*comment page*/
.comment-page {
  background-color: #5598f9;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.girl {
  border-radius: 50%;
  border: #ffffff 0.5rem solid;
}
.para-content-2 {
  font-size: 1.25rem;
  padding: 0 11rem;
}
.para-girl {
  margin-top: -2.25rem;
}
/*service section*/
/*service-top*/
.service-section {
  background-color: #f2f2f2;
}

.service-top-left {
  margin-left: 9rem;
}
.service-top-section {
  display: flex;
  gap: 3rem;
}
.para-service {
  font-size: 1.2rem;
  margin: 10rem 3rem 4rem;
  line-height: 2.25rem;
}
.service-h5 {
  margin-top: 5rem;
  font-size: 1.5rem;
}
/*service-bottom*/

.service-bottom-section {
  display: flex;
  gap: 3rem;
  padding: 3rem 6rem;
}
.border-box {
  background-color: white;
  border-radius: 1rem;
}
.box-content {
  padding: 1rem 2.5rem;
  line-height: 1.5rem;
}
/*key-features-section*/

.features-images-wrapper {
  padding: 2.5rem 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.image-wrapper {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 30%;
}

.features-image {
  width: 100%;
  padding: 1rem 0;
}
.image-content {
  padding: 2rem 1.5rem;
}

/*template-section*/

.template-section {
  background-color: #f2f2f2;
  position: relative;
  box-sizing: border-box;
}
.temp-para {
  font-size: 1.2rem;
}
.temp-img {
  width: 80%;
  padding: 0 8rem;
}

/*bg-image-section*/

.background-image-section {
  background-image: url("../images/background.jpg");
  /*  width:100%;
  height:100vh;
  position: relative;
  top:2rem;*/
}

.fa-quote-left {
  color: white;
  font-size: 5rem;
}
.background-left-section {
  width: 40%;
  padding: 5rem 4rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

/*free-web-section*/
.free-web-head {
  padding-bottom: 3rem;
}
/*footer-section*/

.footer-section {
  background-color: #111111;
}
/*

.footer-li{
  list-style: none;
  
}*/
.text-dec {
  text-decoration: none;
}
.footer-para-a {
  padding: 0 18rem;
  line-height: 1.5;
  word-spacing: 1rem;
}
.footer-content {
  padding-top: 2rem;
  padding-bottom: 4rem;
}
