/*util css */
.font-family {
  font-family: "montserrat", sans-serif;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.text-color-primary {
  color: #5598f9;
}
.text-color-default {
  color: #111111;
}
.text-color-secondary {
  color: #555c66;
}
.text-center {
  text-align: center;
}

.hero-page {
  display: flex;
}

.back-left-image {
  background-image: url("../images/left.jpg ");
}
.back-right-image {
  background-image: url("../images/right.jpg");
}

.back-image {
  /*height: 100vh; */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left-section {
  padding: 3rem 7rem;
}
.logo {
  width: 40%;
}
.text-color-white {
  color: white;
}
.text-size-16 {
  font-size: 16px;
}

.font-size-1 {
  font-size: 1.5rem;
}
.font-size-4 {
  font-size: 4.5rem;
}

.left-text {
  width: 70%;
  padding-left: 2.5rem;
}

/*icon page*/
.container {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  margin-left: 6rem;
}

.box-wrapper {
  width: 17%;
  /* height:70vh;*/
  background-color: #eef4fe;
  border-radius: 1rem;
  margin-top: 3rem;
}
.icon-wrapper {
  font-size: 5rem;
  margin-top: 1.6rem;
}
.icon-text {
  font-size: 1.5rem;
}
.text-head {
  font-size: 2.25rem;
  padding-top: 5.5rem;
}

.italic {
  font-size: 1.25rem;
  margin: 1rem 13rem;
}

/* logo section*/
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 7rem 6rem;
  padding: 0 4rem;
}

.logo-wrapper {
  font-size: 5rem;
}
.card {
  display: flex;
  margin-left: 30px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  flex-basis: calc(45% - 25px);
  box-sizing: border-box;
}
.bg-color {
  background-color: #eef4fe;
  border-radius: 50%;
}

/*phone-image-section*/

.left-photo-section {
  background-color: #e4eaf1;
  width: 50%;
}

.phone-content {
  font-size: 2.7rem;
  padding: 10rem 6rem;
}

.right-photo-section {
  background-image: url("../images/dec1c37d-590d-43b4-94b3-f76b2493dbc1.jpg");
}
.image-section {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: center;
}
.phone-image-section {
  display: flex;
}
.para-content-1 {
  margin: 2rem 11rem;
}
